@{
ViewData["Title"] = "Página inicial";
}

<div class="text-center">
    <h1 class="h1 display-4">Seja bem-vindo(a) a escola</h1>
    <h6 class="h6">Alunos:</h6>
    <div class="card-group gap-md-5 flex-nowrap justify-content-evenly" id="table"></div>

</div>
